<ion-header>
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br><br><br><br><br><br><br><br><br><br>
  <!-- Tabla de Asistencia -->
  <ion-list>
    <br>
    <ion-item>
      <ion-label>Clases Totales</ion-label>
      <ion-badge color="primary">{{ totalClasses }}</ion-badge>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label>Clases Asistidas</ion-label>
      <ion-badge color="secondary">{{ attendedClasses }}</ion-badge>
    </ion-item>
    <br><br>
    <ion-item>
      <ion-label>Porcentaje Asistencia</ion-label>
      <ion-badge color="tertiary">{{ attendancePercentage }}%</ion-badge>
    </ion-item>
    <br>
  </ion-list>

  <!-- Más contenido de la página de asistencia -->
</ion-content>
