<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información de Usuario</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Nombre de Usuario:</strong> {{ username }}</p>
      <p><strong>Correo Electrónico:</strong> {{ userEmail }}</p>
      <ion-button expand="full" color="danger" (click)="logout()">Cerrar Sesión</ion-button> <!-- Botón para cerrar sesión -->
    </ion-card-content>
  </ion-card>
</ion-content>
