<ion-content>
  <!-- Video donde se muestra la cámara -->
  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <video id="video" autoplay playsinline></video>
  </div>

  <!-- Mostrar el QR detectado -->
  <div *ngIf="scannedData" style="color: white; margin-top: 20px; text-align: center;">
    <p>Código QR detectado: {{ scannedData }}</p>
    <!-- Opcional: Enlace para redirigir -->
    <ion-button (click)="openLink(scannedData)" color="primary">Ir al enlace</ion-button>
  </div>

  <!-- Botón para detener el escaneo si lo desea el usuario -->
  <ion-button *ngIf="scannedData" (click)="stopCamera()" color="danger" expand="full">Detener Escaneo</ion-button>
</ion-content>
