<ion-content>
  <!-- Video donde se muestra la cámara -->
  <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
    <video id="video" autoplay playsinline></video>
  </div>

  <!-- Mostrar el QR detectado -->
  <div *ngIf="scannedData" class="qr-container">
    <p class="qr-text">Código QR detectado: {{ scannedData }}</p>
    <ion-button (click)="openLink(scannedData)" color="primary">Ir al enlace</ion-button>
  </div>

  <!-- Botón para detener el escaneo si lo desea el usuario -->
  <ion-button *ngIf="scannedData" (click)="stopCamera()" color="danger" expand="full">
    Detener Escaneo
  </ion-button>

  <!-- Botón para iniciar el escaneo si no se ha escaneado ningún código -->
  <ion-button *ngIf="!scannedData" (click)="startCamera()" color="primary" expand="full">
    Iniciar Escaneo
  </ion-button>

  <!-- Botón para registrar asistencia después de escanear el QR -->
  <ion-button *ngIf="scannedData" (click)="registerAttendance()" color="success" expand="full">
    Registrar Asistencia
  </ion-button>
</ion-content>
