.fade-in {
    animation: fadeIn 0.5s forwards; /* Tiempo para la entrada */
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards; /* Tiempo para la salida */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
