/* home.page.scss */
/* home.page.scss */
ion-content {
  --background: var(--ion-background-color); /* Aplica el fondo azul marino */
}

.welcome-message {
  display: flex;
  flex-direction: column; /* Apila los textos uno encima del otro */
  justify-content: center;
  align-items: center;
  height: 100%; /* Ocupa toda la altura del contenido */
}

.registr {
  color: white; /* Texto blanco */
  font-size: 48px; /* Tamaño del texto */
}

.app {
  color: #FFD700; /* Color dorado */
  font-size: 48px; /* Tamaño del texto */
}

@keyframes pump {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1); /* Aumenta un poco */
  }
  100% {
    transform: scale(1); /* Vuelve a su tamaño original */
  }
}

ion-button {
  margin-top: 20px; /* Espaciado superior */
  background-color: #FFD700; /* Color dorado */
  color: black; /* Color del texto */
  font-weight: bold; /* Texto en negrita */
  animation: pump 0.5s ease-in-out infinite; /* Animación */
}
  