<ion-header [translucent]="true" style="background-color: #001f3f;"> <!-- Fondo azul marino -->
  <ion-toolbar>
    <ion-title>
      <span class="animate-title" style="color: white; font-size: 24px;">Registr</span>
      <span class="animate-title" style="color: gold; font-weight: bold; font-size: 28px;">APP</span> <!-- Texto "APP" dorado y más grande -->
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #001f3f;"> <!-- Fondo azul marino -->
  <app-login></app-login> <!-- Aquí se incluye el componente de login -->
</ion-content>
